body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
html{
  font-size: 65.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-wrapper button{
background-color: goldenrod;
border:0px;
padding:10px;
border-radius: 4px;
color: aliceblue;
box-shadow: #333 0px 1px 5px;
}
.img-wrapper img{
  width: 60px;
  margin-top: -2px;
}
.head-set{
  text-align: center;
  margin: 10px 0px 30px 0px;
}
.cart-wrapper{
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
  box-shadow:1px 1px 3px 0px black;
}
.item{
  float: left;
  width: 120px;
  padding: 20px;
  height: 70px;
}
.add-to-cart{
  position: absolute;
  right:1%;
  top:1%;
}